@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux */
html,
body {
  @apply h-full m-0 p-0 box-border; /* Tailwind simplifie ces règles */
}

#root {
  @apply w-full min-h-full flex flex-col;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply text-base font-normal leading-relaxed; /* Tailwind pour gérer les tailles */
  color-scheme: light dark; /* Utilisation conservée pour les préférences système */
}
 
/* Hyperliens */
a {
  @apply font-medium text-blue-600 no-underline;
}

a:hover {
  @apply text-blue-500;
}

/* Boutons */
button {
  @apply rounded-lg border border-transparent px-4 py-2 text-sm font-medium cursor-pointer;
  background-color: #1a1a1a;
  transition: background-color 0.25s,border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
.dark button {
  transition: background-color 0.25s, border-color 0.25s; /* Ajout */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Mode sombre */
.dark {
  @apply bg-gray-900 text-gray-200; /* Simplifié avec Tailwind */
}

.dark a {
  @apply text-blue-400;
}

/* .dark button {
  background-color: #424242;
} */

.dark button:hover {
  border-color: #1e88e5;
}

/* Mode clair */
:not(.dark) {
  @apply bg-white text-gray-900; /* Simplifié avec Tailwind */
}

:not(.dark) a:hover {
  @apply text-blue-600;
}

:not(.dark) button {
  background-color: #f9f9f9;
}
